/* -- global ------------------------ */

a:link      { color : #0000FF ; }
a:visited   { color : #660066 ;  }
a:hover     { color : #FFFFFF ; background-color : #0000FF ; }
a:active    { color : #FFFFFF ; background-color : #FF0000 ; }

/* -- header ------------------------ */

div.banner h1.site-title a:link     { color : #000 ; }
div.banner h1.site-title a:visited  { color : #000 ; }
div.banner h1.site-title a:hover    { color : #FFFFFF ; background-color : #0000FF ; }
div.banner h1.site-title a:active   { color : #FFFFFF ; background-color : #FF0000 ; }

div.banner div.toolbar ul.navigation {
    background : #FFF url('./files/white-background.png') repeat scroll 0% 0% ;
    border-color : #729FCF ;
}

div.banner div.toolbar ul.navigation li a:link      { color : #000 ; }
div.banner div.toolbar ul.navigation li a:visited   { color : #000 ; }
div.banner div.toolbar ul.navigation li a:hover     { color : #FFF ; }
div.banner div.toolbar ul.navigation li a:active    { color : #FFF ; }

/* -- contents ---------------------- */

div.main div.entry h2.entry-title a:link,
div.main div.entry h2.entry-title a:visited { color : #73D216 ; }
div.main div.entry h2.entry-title a:hover,
div.main div.entry h2.entry-title a:active  { color : #FFF ; }

div.main div.entry div.entry-content h3 { border-color : #8AE234 ; }
div.main div.entry div.entry-content h4 { border-color : #FCAF3E ; }
div.main div.entry div.entry-content h5 { border-color : #729FCF ; }
div.main div.entry div.entry-content h6 { border-color : #E9B96E ; }

div.main div.entry div.entry-content hr { border-color : #BABDB6 ; }

div.main div.entry div.entry-content blockquote { border-color : #8AE234 ; }

div.main div.entry div.entry-content pre {
    background : #FFFFFD url('./files/white-background.png') repeat scroll 0% 0% ;
    border-color : #AD7FA8 ;
}

div.main div.entry div.entry-content dl dt { border-color : #729FCF ; }

div.main div.entry div.entry-content table,
div.main div.entry div.entry-content table tr th,
div.main div.entry div.entry-content table tr td { border-color : #2E3436 ; }
div.main div.entry div.entry-content table tr th { background : #FFFFFD url('./files/white-background.png') repeat scroll 0% 0% ; }

/* -- footer ------------------------ */

div.secondary dl.widget,
div.secondary dl.widget dt.label    { border-color : #D3D7CF ;  }
div.secondary dl.widget             { background : #FFFFFD url('./files/white-background.png') repeat scroll 0% 0% ; }

div.secondary dl.aboutme dd.content p img.photo { border-color : #D3D7CF ;  }
