/* -- global ------------------------ */
/* -- header ------------------------ */

div.banner h1.site-title a {
    font-size : 2em ;
    font-weight : bold ;
    text-decoration : none ;
}

div.banner div.toolbar ul.navigation {
    border-width : 0.1878em ;
    border-style : solid ;

    -moz-border-radius      : 0.5em ;
    -webkit-border-radius   : 0.5em ;
    border-radius           : 0.5em ;
}

div.banner div.toolbar ul.navigation li a {
    text-decoration : none ;
}

/* -- contents ---------------------- */

div.main div.entry h2.entry-title a {
    font-size : 2em ;
    font-weight : bold ; 

    text-decoration : none ;
}

div.main div.entry div.entry-content h3,
div.main div.entry div.entry-content h4,
div.main div.entry div.entry-content h5,
div.main div.entry div.entry-content h6 {
    border-width : 0 0 0 0.1878em ;
    border-style : solid ;

    font-weight : bold ;
}

div.main div.entry div.entry-content hr {
    border-width : 0 0 0.1252em 0 ;
    border-style : dotted ;
    
}

div.main div.entry div.entry-content blockquote {
    border-width : 0 0 0 0.1878em ;
    border-style : solid ;
}

div.main div.entry div.entry-content pre {
    border-width : 0.1878em ;
    border-style : solid ;
    
    -moz-border-radius      : 0.5em ;
    -webkit-border-radius   : 0.5em ;
    border-radius           : 0.5em ;
}

div.main div.entry div.entry-content pre code {
    font-size : 0.9em ;
}

div.main div.entry div.entry-content dl dt {
    border-width : 0 0 0 0.1878em ;
    border-style : solid ;
}

div.main div.entry div.entry-content dl dd {
    list-style-type : disc ;
}

div.main div.entry div.entry-content table {
    border-width : 0.1878em ;
    border-style : solid ;
}

div.main div.entry div.entry-content table tr th,
div.main div.entry div.entry-content table tr td {
    border-width : 0.0626em ;
    border-style : dotted ;
}

/* -- footer ------------------------ */

div.secondary dl.widget {
    border-width : 0.1878em ;
    border-style : solid ;

    -moz-border-radius                  : 1em 0 1em 0 ;
    -webkit-border-radius-lefttop       : 1em ;
    -webkit-border-radius-rightbottom   : 1em ;
    border-radius                       : 1em 0 1em 0 ;
}

div.secondary dl.widget dt.label {
    border-width : 0 0 0.1878em 0 ;
    border-style : solid ;
    
    font-weight : bold ; 
}

div.secondary dl.aboutme dd.content p img.photo {
    border-width : 0.1878em ;
    border-style : solid ;
    
    -moz-border-radius      : 3px ;
    -webkit-border-radius   : 3px ;
    border-radius           : 3px ;
}