/* -- global ------------------------ */

body {
    margin : 1em ;
    position : relative ;
}

/* -- header ------------------------ */

div.banner {
    margin : 0 0 1em 0 ;
}

div.banner div.toolbar ul.navigation {
    margin : 0 -0.1878em ;
}

div.banner div.toolbar ul.navigation li {
    display : inline-block ;
    margin  : 0  ;
    padding : 0 ;
}

div.banner div.toolbar ul.navigation li a {
    display : block ;
    line-height : 1.5em ;
    padding : 0 0.5em ;
}

div.banner fieldset.search {
    position : absolute ;
    top : 0 ;
    right : 0 ;
}

div.banner fieldset.search legend {
    display : none ;
}

/* -- contents ---------------------- */

div.contents {
    float : right ; 
    width : 100% ;
    margin : 0 0 0 -20.1260em ;
}

div.main {
    margin : 0 0 0 21.1256em ;
}

div.main div.entry h2.entry-title {
    margin : 0 0 1em 0 ;
}

div.main div.entry div.entry-content h3,
div.main div.entry div.entry-content h4,
div.main div.entry div.entry-content h5,
div.main div.entry div.entry-content h6 {
    margin : 0 0 1em 0 ;
    padding : 0 0 0 0.5em ;
}

div.main div.entry div.entry-content blockquote {
    margin : 0.5em 0 ;
    padding : 0 0 0 1em ;
}

div.main div.entry div.entry-content pre {
    margin : 0.5em 0 ;
    padding : 0.5em ;
}

div.main div.entry div.entry-content dl {
    margin : 0.5em 0 ;
}

div.main div.entry div.entry-content dl dt {
    margin : 0 ;
    padding : 0 0 0 0.5em ;
}

div.main div.entry div.entry-content dl dd {
    margin : 0 0 0 2em ;
    display : list-item ;
}

div.main div.entry div.entry-content dl dd p {
    margin : 0 ;
}

div.main div.entry div.entry-content table {
    margin : 0.5em auto ;
}

div.main div.entry div.entry-content table caption {
    margin : 0 0 0.5em 0 ;
    text-align : center ;
}

div.main div.entry div.entry-content table tr th,
div.main div.entry div.entry-content table tr td {
    padding : 0.25em ;
    text-align : center ;
}

/* -- sidebar ----------------------- */

div.secondary {
    float : right ;
    width  : 20.1256em ;
}

div.secondary dl.widget {
    margin : 0 0 1em 0 ;
    padding : 0.5em ;
}

div.secondary dl.widget dt.label {
    margin : 0 ;
    padding : 0.25em 0 ;
    
    text-align : center ;
}

div.secondary dl.widget dd.content {
    margin : 0 ;
    padding : 0.5em 0 0 0 ;
}

div.secondary dl.aboutme dd.content p {
    text-align : center ;
}

div.secondary dl.aboutme dd.content dl {
    margin  : 0 ;
    padding : 0 ;
}

div.secondary dl.aboutme dd.content dl dt {
    text-align : right ;
    width : 6em ;
    margin : 0 ;
    padding : 0 ;
    line-height : 1.5em ;
}

div.secondary dl.aboutme dd.content dl dd {
    margin : -1.5em 0 0 6.5em ;
    padding: 0 ;
    
    line-height : 1.5em ;
}

/* -- footer ------------------------ */

div.contentinfo {
    clear : both ;
}

div.contentinfo p#copyright {
    text-align : center ;
}