<?
    use strict;
    use warnings;
    use utf8;
    
    extends 'base.html';

    my $vars                = do $nim->conf->templates_dir->file('vars.pl')->stringify;
    
    my $category            = $entry->path;
       $category            =~ s{^/*|/*$|}{}g;
    
    my $url                 = $vars->{'site_url'};
    my $permalink           = join q{/}, ( $url, $category, $entry->filename );


    my %catlabel            = %{ $vars->{'category_label'} };

    my ( $subtitle, $maintitle )
        = ( $entry->title =~ m{(.+?)\s*-\s*(.+)$} );

?>

<? block head_title => sub { ?><?= $catlabel{'reviews'} ?> &gt; <?= $catlabel{$category} ?> &gt; <?= $maintitle ?> - <? } ?>

<? block local_place => sub { ?>

            <span class="home">
                <a href="/" rel="home">ホーム</a>
            </span>
            
            <span class="separator">&gt;</span>
            
            <span class="category">
                <a href="/reviews/"><?= $catlabel{'reviews'} ?></a>
            </span>

            <span class="separator">&gt;</span>

            <span class="type">
                <a href="<?= $entry->path ?>/"><?= $catlabel{$category} ?></a>
            </span>

            <span class="separator">&gt;</span>

            <span class="current">
                <a href="<?= $entry->path ?>/<?= $entry->filename ?>"><?= $maintitle ?></a>
            </span>

<? }; ?>

<? block contents => sub { ?>
        <div class="entry">
            <h2 class="entry-title">
                <a href="<?= $permalink ?>"><?= $entry->title ?></a>
            </h2>

            <div class="entry-content">
                <?= encoded_string $entry->body ?>
            </div>
        </div>
<? }; ?>
