<?
    use strict;
    use warnings;
    use utf8;
    
    extends 'base.html';

    my $vars                = do $nim->conf->templates_dir->file('vars.pl')->stringify;
    
    my $url                 = $vars->{'site_url'};
    my %catlabel            = %{ $vars->{'category_label'} };
?>

<? block head_title => sub { ?><?= $catlabel{'reviews'} ?> - <? } ?>

<? block local_place => sub { ?>

            <span class="home">
                <a href="/" rel="home">ホーム</a>
            </span>
            
            <span class="separator">&gt;</span>
            
            <span class="category">
                <a href="/reviews/"><?= $catlabel{'reviews'} ?></a>
            </span>

<? }; ?>

<? block contents => sub { ?>
        <div class="entry">
            <h2 class="entry-title">
                <a href="<?= $url ?>/reviews/">レンタルサーバレビュー集</a>
            </h2>

            <div class="entry-content">
            
                <h3>レンタルサーバレビュー集とは？</h3>
                
                <p>
                    このディレクトリでは、僕の独断と偏見とプログラマ的視点から書いた、
                    レンタルサーバのレビューを紹介しています。
                </p>
                
                <p>
                    基本的にこのディレクトリ以下のレビューは僕が手作業で調べて書いているので、
                    もしかすると内容が古かったり、勘違いが含まれているかもしれません。
                    とは言っても、嘘偽りを書いているわけではないので、その点は安心してください。
                </p>
            
                <p>
                    またこのディレクトリ以下のレビューでは、他のレンタルサーバ紹介サイトにありがちな、
                    一方的にほめるようなレビューは書かず、そのレンタルサーバの良い点も悪い点もあまさず併記しています。
                </p>
                
                <p>
                    というわけで、以下レンタルサーバのレビュー集となります。
                </p>
            
                <h3><a href="/reviews/shared/">共有サーバ　レビュー</a></h3>
                
                <ul>
? for my $entry ( sort { $a->title cmp $b->title } grep { $_->path eq '/reviews/shared' }@{ $page->entries || [] } ) {
? next if ( $entry->filename eq 'index' );
<?
    my $filepath    = join q{/}, $entry->path, $entry->filename;
       $filepath    =~ s{/+}{/};
?>
                    <li><a href="<?= $filepath ?>"><?= $entry->title ?></a></li>
? }
                </ul>

                <h3><a href="/reviews/vps/">VPS　レビュー</a></h3>
                
                <ul>
? for my $entry ( sort { $a->title cmp $b->title } grep { $_->path eq '/reviews/vps' }@{ $page->entries || [] } ) {
? next if ( $entry->filename eq 'index' );
<?
    my $filepath    = join q{/}, $entry->path, $entry->filename;
       $filepath    =~ s{/+}{/};
?>
                    <li><a href="<?= $filepath ?>"><?= $entry->title ?></a></li>
? }
                </ul>


            </div>
        </div>
<? }; ?>
