<?
    use strict;
    use warnings;
    use utf8;
    
    extends 'base.html';

    my $vars                = do $nim->conf->templates_dir->file('vars.pl')->stringify;
    my $url                 = $vars->{'site_url'};
    my $fullpath            = $entry->path . $entry->filename;
       $fullpath            =~ s{/+}{/}g;
       $fullpath            =~ s{^/*|/*$}{}g;
    my $permalink           = join q{/}, ( $url, $fullpath );
    
?>

<? block head_title => sub { ?><?= $entry->title ?> - <? }; ?>

<? block local_place => sub { ?>

            <span class="home">
                <a href="/" rel="home">ホーム</a>
            </span>
            
            <span class="separator">&gt;</span>
            <?
                my $current = $entry->path;
                   $current = ( $entry->filename eq 'index' ) ? q{/} : $entry->filename;
            ?>
            <span class="current">
                <a href="<?= $current ?>"><?= $entry->title ?></a>
            </span>

<? }; ?>

<? block contents => sub { ?>
        <div class="entry">
            <h2 class="entry-title">
                <a href="<?= $permalink ?>"><?= $entry->title ?></a>
            </h2>

            <div class="entry-content">
                <?= encoded_string $entry->body ?>
            </div>
        </div>
<? }; ?>
